@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
* {
    font-family: "Roboto Slab", serif;
    padding: 0px;
    margin: 0px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#13678A;
    height: 100vh;
}
.container {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
}
#infor {
    background-color: #012030;
    width: 400px;
}
#login {
    background-color: white;
    width: 300px;
}
input {
    border-radius: 7px;
    border: 10px;
    margin-top: 20px;
    height: 25px;
}
button {
    border-radius: 7px;
    border: 0px;
    width: 100px;
    height: 20px;
    margin-top: 25px;
    background-color: #012030;
    color: white;
    margin-bottom: 50px;
}
#umh {
    color: white;
}
#doish {
    color: #012030;
}
#insta {
    width: 100px;
    margin-top: 20px;
}
#imglogin {
    width: 200px;
}
p {
    margin-top: 30px;
    color: white;
}